//fontsize
@red: red;
@blue: blue;
//font-color
@font-color-yellow: #ffcd32;
@font-color-white: rgba(255, 255, 255, .5);
@font-color-white2: rgba(255, 255, 255, 1);
@font-color-white3: rgba(255, 255, 255, .3);
//bg-color
@bg-color-black: #222;
@bg-color-black1: #333;
@bg-color-black2: rgba(0, 0, 0, .3);


@remSize: 37.5; //设计分辨率的res